.NavigationItem {

}

.NavigationItem a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
}

.NavigationItem a:hover {
    background: dimgray;
}

a.Active{
    background: var(--color-highlight);
}

a.Active:hover {
    background: var(--color-highlight-dim);
}