.Footer {
    text-align: center;
    font-size: small;
    background: #f7f7f7;
}

.Container {
    box-sizing: border-box;
    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: 0 auto;
}

.Links {
    font-size: 2em;
}

.Footer a, .Footer:visited {
    color: rgba(0,0,0,.65);
}