.NavigationItems {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-content: center;
    background: rgba(34,34,34,.97);
    position: fixed;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}